@font-face {
  font-family: 'Gulkave';
  src: url('./assets/fonts/gulkave.ttf') format('truetype');
}

@font-face {
  font-family: 'Silom';
  src: url('./assets/fonts/silom.ttf') format('truetype');
}
