body,
html {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Silom", monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 5;
}

.showscore {
  font-size: 24px;
}

#score {
  position: fixed;
  left: 16px;
  top: 16px;
  color: white;
  z-index: 5;
  font-size: 48px;
}

.menu-wrapper {
  padding: 24px 32px;
  width: 90%;
  max-width: 800px;
  text-align: center;
}

h1 {
  font-family: "Gulkave";
  margin: 0;
  font-size: 48px;
  margin-bottom: 32px;
}

.button {
  width: 450px;
  padding: 8px 16px;
  display: block;
  margin: 8px auto;
  background: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 32px;
  font-family: "Silom";
}

.button:hover {
  border: 1px solid green;
  color: green;
}
